.favorit {
  width: 100%;
  height: 226px;
  display: flex;
  justify-content: center;

  .favorit-center {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    h1 {
      font-family: var(--font-family);
      font-size: 20px;
      text-align: center;
      margin-top: 70px;
      display: block;
    }
  }
}
.favorit-item {
  width: 100%;
  height: 300px;
  padding-bottom: 190px;
  margin-right: 200px;
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 1px;
   
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
 
    width: 110px;
    height: 110px;
    object-fit: cover;
  }
}
